In [1]:
import pandas as pd 
df = pd.read_csv('data.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [2]:
df.shape

(500, 9)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [4]:
df.duplicated().sum()

0

In [5]:
df = df.drop(['Serial No.'], axis = 1)
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [12]:
X = df.drop(['Chance of Admit '], axis = 1)
y = df['Chance of Admit ']

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
X_train

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
107        338          117                  4  3.5   4.5  9.46         1
336        319          110                  3  3.0   2.5  8.79         0
71         336          112                  5  5.0   5.0  9.76         1
474        308          105                  4  3.0   2.5  7.95         1
6          321          109                  3  3.0   4.0  8.20         1
..         ...          ...                ...  ...   ...   ...       ...
323        305          102                  2  2.0   2.5  8.18         0
192        322          114                  5  4.5   4.0  8.94         1
117        290          104                  4  2.0   2.5  7.46         0
47         339          119                  5  4.5   4.0  9.70         0
172        322          110                  4  4.0   5.0  9.13         1

[400 rows x 7 columns]

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

In [18]:
X_train_trf

array([[0.96      , 0.89285714, 0.75      , ..., 0.875     , 0.8525641 ,
        1.        ],
       [0.58      , 0.64285714, 0.5       , ..., 0.375     , 0.63782051,
        0.        ],
       [0.92      , 0.71428571, 1.        , ..., 1.        , 0.94871795,
        1.        ],
       ...,
       [0.        , 0.42857143, 0.75      , ..., 0.375     , 0.21153846,
        0.        ],
       [0.98      , 0.96428571, 1.        , ..., 0.75      , 0.92948718,
        0.        ],
       [0.64      , 0.64285714, 0.75      , ..., 1.        , 0.74679487,
        1.        ]])

In [19]:
X_train_trf.shape

(400, 7)

In [20]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [21]:
model = Sequential()

model.add(Dense(7,activation='relu',input_dim=7))
model.add(Dense(1,activation='linear'))

C:\Users\tanis\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [22]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 7)              │            56 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 1)              │             8 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 64 (256.00 B)

 Trainable params: 64 (256.00 B)

 Non-trainable params: 0 (0.00 B)

In [25]:
model.compile(optimizer='Adam',loss='mean_squared_error',metrics=['accuracy'])

In [26]:
history = model.fit(X_train_trf,y_train,epochs=10,validation_split=0.2)

Epoch 1/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - accuracy: 0.0000e+00 - loss: 1.2317 - val_accuracy: 0.0000e+00 - val_loss: 1.0809
Epoch 2/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.9339 - val_accuracy: 0.0000e+00 - val_loss: 0.8288
Epoch 3/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.7172 - val_accuracy: 0.0000e+00 - val_loss: 0.6265
Epoch 4/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.5798 - val_accuracy: 0.0000e+00 - val_loss: 0.4674
Epoch 5/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.3720 - val_accuracy: 0.0000e+00 - val_loss: 0.3506
Epoch 6/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.3041 - val_accuracy: 0.0000e+00 - val_loss: 0.2636
Epoch 7/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.2262 - val_accuracy: 0.0000e+00 - val_loss: 0.2034
Epoch 8/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.1685 - val_accuracy: 0.0000e+00 - val_loss: 0.1640
Epoch 9/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.1414 - val_accuracy: 0.0000e+00 - val_loss: 0.1392
Epoch 10/10
10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 0.1276 - val_accuracy: 0.0000e+00 - val_loss: 0.1231

In [27]:
y_pred = model.predict(X_test_trf)
y_pred

4/4 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

array([[1.0232213 ],
       [0.1698288 ],
       [0.83319515],
       [0.90311456],
       [0.8547052 ],
       [0.16442208],
       [0.13540465],
       [0.22012842],
       [0.15664321],
       [0.16663921],
       [0.15666875],
       [0.8631733 ],
       [0.14715266],
       [0.1506036 ],
       [0.87502843],
       [0.14922619],
       [0.92806405],
       [0.1929456 ],
       [0.13795617],
       [0.16363063],
       [0.21391006],
       [0.96784794],
       [0.23200347],
       [0.8951861 ],
       [0.8808492 ],
       [0.919903  ],
       [0.10241844],
       [0.20821235],
       [0.21260239],
       [0.20536336],
       [0.17178431],
       [0.15286104],
       [0.09724811],
       [0.8933798 ],
       [0.19955276],
       [0.944565  ],
       [0.8883444 ],
       [0.8945639 ],
       [0.16592504],
       [0.1400358 ],
       [0.2103593 ],
       [0.8684782 ],
       [0.8498552 ],
       [0.1923229 ],
       [0.87000126],
       [0.91361636],
       [0.843385  ],
       [0.8810791 ],
       [0.22669078],
       [0.24469902],
       [0.16334301],
       [0.93539184],
       [0.19996849],
       [0.88985103],
       [0.08664355],
       [0.89488155],
       [0.16589355],
       [0.87915254],
       [0.15607066],
       [0.16535011],
       [0.9297677 ],
       [0.8712907 ],
       [0.18722181],
       [0.8148549 ],
       [0.136496  ],
       [0.17113449],
       [0.948892  ],
       [0.85352546],
       [0.13757963],
       [0.9121007 ],
       [0.8064479 ],
       [0.12401223],
       [0.8828438 ],
       [0.9541074 ],
       [0.8918918 ],
       [0.8978382 ],
       [0.87428665],
       [0.9239902 ],
       [0.0664658 ],
       [0.15352723],
       [0.17989582],
       [0.8557116 ],
       [0.16050006],
       [0.1863816 ],
       [0.8914685 ],
       [0.1128547 ],
       [0.8957411 ],
       [0.14092483],
       [0.23551872],
       [0.21341954],
       [0.1914617 ],
       [0.86535525],
       [0.89703286],
       [0.8643271 ],
       [0.16302203],
       [0.8523738 ],
       [0.20918727],
       [0.16210797],
       [0.2060453 ],
       [0.19592154]], dtype=float32)

In [29]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

-6.787032022797425